{

    "env": {
        "browser": true,
        "commonjs": false,
        "amd": false,
        "jquery": false,
        "serviceworker": true
    },

    "rules": {
        "array-bracket-spacing": [ 2, "always" ],
        "arrow-body-style": [ 0, "always" ],
        "brace-style": [ 2, "stroustrup" ],
        "comma-dangle": [ 2, "never" ],
        "func-names": 0,
        "guard-for-in": 2,
        "indent": [ 2, "tab" ],
        "max-depth": [ 1, 4 ],
        "new-cap": 0,
        "no-console": 0,
        "no-else-return": 0,
        "no-multi-spaces": 0,
        "no-nested-ternary": 1,
        "no-throw-literal": 0,
        "no-unused-vars": [ 2, {"vars": "all", "args": "none"} ],
        "quote-props": 2,
        "max-len": [ 1, 120 ],
        "no-param-reassign": [ 2, {"props": false} ],
        "prefer-template": 0,
        "object-shorthand": [ 2, "never" ],
        "one-var": [ 2, { "uninitialized": "always", "initialized": "never" } ],
        "quotes": [ 2, "double" ],
        "radix": 0,
        "space-before-function-paren": 0,
        "space-return-throw-case": 0,
        "strict": [ 2, "function" ],
        "vars-on-top": 0,
    },

    "globals": {
        "gettext": true,
        "interpolate": true
    }
}
